*{
    margin: 0%;
}

.container{
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: green;
}
.text {
    width: 100%;
    background-color: cyan;
}
img {
    position: relative;
    float: right;
}