body {
    background-color: white;
    padding: 5px;
}
.main{
    display: flex;
    border-style: solid;
    border-color: green;
    background-color: cyan;
    border-width: 2px;
    flex-direction: row;
}
.text{
    position: relative;
    background-color: grey;
}
.list{
    min-width: 300px;
    max-width: 300px;
    background-color:bisque;
}
@media (max-width: 500px) {
    .main{
        flex-direction: column;
        
    }
    .list ul{
        overflow:hidden;
    }
    .list ul li{
        display:inline-block;
    }    
    .text{
        float: left;
        width: 100%;
    }
    .list{
        margin-top: 20px;
        margin-bottom: 20px;
        min-width: 100%;
        max-width: 100%;
    }
}
*{
    margin: 0%;
}