
.left{
    width: 25%;
    background-color:#C8FC98;
    margin: 0px;
    padding: 10px;
    height: min-content;
}

.middle{
    width: 86%;
    padding:10px;
    background-color: white;
}

.right{
    min-width: 200px;
    max-width: 200px;
    position: relative; 
    background-color:#FFFF80;
    margin: 0px;
    padding: 10px 10px 10px 10px;
}

.center{
    width: 20%;
}
em{
    color:red
}

body {
    background-color: white;
    margin:0px;
    padding: 0px;
}

*{
    margin: 0%;
}
.flex-block{
    display: flex;
    justify-content: space-between;
    margin:0px;
    font-style: normal;
    font-weight: normal;
    padding: 0px;
}

footer{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    background: black;
    text-align: center;
    vertical-align: middle;
    color: #FDE95E;
}


header{
    line-height: 40px;
    background-color: #EAEAEA;
    height: 50px;
    padding-bottom: 25px;
    padding:10px;
}

a{
    color:#FDE95E;
}