body {
    padding: 0;
    background-color: white;
    margin:10px;
    display: flex;
    justify-content: center;
}

.block{

    width: 600px;
    min-width: 600px;
    background-color: blue;
    color: white;

}
.block img{
    flood-opacity: 10%;
    float: right;
}
*{
    margin: 0%;
}